.idea
*.iml

# Project exclude paths
/code/service/Auth/target/
/code/service/Customer/Model/target/
/code/service/Customer/Http/target/
/code/service/Catalog/Http/target/
/code/service/Catalog/Model/target/
/code/service/Catalog/Event/target/
/code/service/Inventory/Model/target/
/code/service/Inventory/Http/target/
/code/service/Inventory/EventList/target/
/code/service/Payment/Model/target/
/code/service/Payment/Http/target/
/code/service/Payment/EventList/target/
/deployment/service/Auth/deployment/App/image/resource/*.jar
/deployment/service/Customer/deployment/Http/image/resource/*.jar
/deployment/service/Catalog/deployment/Http/image/resource/*.jar
/deployment/service/Catalog/deployment/Event/image/resource/*.jar
/deployment/service/Inventory/deployment/Http/image/resource/*.jar
/deployment/service/Payment/deployment/Http/image/resource/*.jar
