.idea
*.iml

# Project exclude paths
/code/service/Auth/target/
/code/service/Customer/Model/target/
/code/service/Customer/Http/target/
/code/service/Catalog/Http/target/
/code/service/Catalog/Model/target/
/deployment/service/Auth/deployment/App/image/resource/*.jar
/deployment/service/Customer/deployment/Http/image/resource/*.jar
/deployment/service/Catalog/deployment/Http/image/resource/*.jar
